@import "@/styles/button";

.post__title__author-profile {
  display: flex;
  gap: 0.35rem;
  align-items: center;

  width: fit-content;
  height: 100%;

  &__image {
    height: 80%;
    border-radius: 50%;
    object-fit: contain;

    &:hover {
      cursor: pointer;
    }
  }

  &__username {
    font-size: $font-medium;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      background-color: $light-gray;
    }
  }
}
