@import "@/styles/_global-style";
@import "@/styles/theme";
@import "@/styles/responsive";
@import "@/styles/_mixin";

.modal-background {
  @include modal-bg;
  position: absolute;
  top: 0;
  z-index: $modal-background-z-index !important;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.modal-close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: $modal-content-z-index;
  font-size: 2rem;
  color: $line-color;
  cursor: pointer;
  transform: scale(2);
}
