@import "@/styles/_theme.scss";
@import "@/styles/_global-style.scss";

.post {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%; // 54rem

  background-color: $weview-off-white;
  border: 1px solid $line-color;

  border-radius: $radius-medium;

  // 그림자
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
