@import "@/styles/_theme.scss";
@import "@/styles/_global-style.scss";

.post {
  box-sizing: border-box;
  // 반응형 레이아웃
  display: grid;
  grid-template-rows: 12fr 100fr 28fr 15fr; // 가로:세로 = 1:1.54 비율 기준
  width: 100%;
  height: $main-post-height;

  background-color: $weview-off-white;
  border: 1px solid $line-color;

  border-radius: $radius-medium;

  // 그림자
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
