@import "../../../../constants/library";

.code-editor{
    position: relative;
    width: calc(100% - 5em);
    height: 80%;
    border-radius: 0.25rem;
  &__textarea, &__present {
    font-size: 1.25rem;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 1em 1em 0 1em;
  }
  &__textarea {
    caret-color: $alert;
    color: transparent;
    background-color: transparent;
    z-index: 1;
    border: none;
    resize: none;
  }
  &__present{
    z-index: 0;
    background-color: $codeblock-color;
    border-radius: 0.25rem;
    text-overflow: ellipsis;
  }
}