@import "@/constants/_library.scss";
@import "@/styles/_global-styles.scss";

.post-bar {
  flex: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 $post-bar-margin-side;
  gap: $post-gap;

  background-color: $weview-off-white;
  overflow-y: scroll;

  width: $main-post-bar-width;
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}