// fonts
@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");
/*
 * D2 coding (Korean) http://dev.naver.com/projects/d2coding/
 */
@font-face {
  font-family: "D2Coding";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
}

// pages
@import "@/styles/global-style";
@import "@/styles/theme";

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: $root-em; // rem
}

body {
  margin: 0 auto;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: GmarketSans;
}

input {
  appearance: none;
}

*:focus {
  outline: 0;
}

button {
  font-family: GmarketSans;
}

select {
  appearance: none;
}

::-webkit-scrollbar {
  width: 0.65em;

  &-thumb {
    background-color: $text-color;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
  }

  &-track {
    background-color: $line-color;
    border-radius: 10px;
    box-shadow: inset 0 0 5px white;
  }
}
