@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/github.min.css");
@import "./src/components/MainNav/MainNav.scss";
@import "./src/components/WriteModal/WriteModal.scss";
@import "./pages/Main/Main.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0 auto;
}

#root {
  margin: 0 auto;
  font-family: GmarketSans;

}

input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*:focus {
  outline: 0;
}