@import "@/styles/_mixin.scss";
@import "@/styles/_theme.scss";

.post__body {
  $post-inline-padding: $font-medium;
  @include flex-start;
  box-sizing: border-box;
  flex-direction: column;

  grid-row: 3;
  gap: 0.35rem;
  width: 100%;
  height: 100%;
  padding: $post-inline-padding;
  overflow: hidden;
  background-color: white;

  // 아래 구분선
  border-bottom: 1px solid $line-color;

  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--title {
      flex-grow: 1;
      font-size: $font-large;
    }

    &--time-stamp {
      width: fit-content;
      font-size: $font-medium;
      text-align: left;
      white-space: nowrap;
    }
  }

  &--content {
    font-size: $font-medium;
  }
}
