@import "@/constants/_library.scss";
@import "@/styles/_global-styles.scss";

.post-scroll {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: $post-gap;
  align-items: center;

  width: $main-post-bar-width;
  height: 100%;

  margin: 0 $post-bar-margin-side;
  overflow-y: scroll;

  background-color: $weview-off-white;

  &::-webkit-scrollbar {
    display: none;
  }
}
