@import "@/styles/_button.scss";
@import "@/styles/global-style";

.submit-modal {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% - 4rem);
  height: 50%;
  padding: 1rem 2rem;
  background-color: $weview-white;
  border-radius: 0.25rem;

  &__wrapper {
    position: absolute;
    left: -0.25rem;
    z-index: $modal-upper-z-index;
    width: calc(100% + 0.5rem);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
  }

  &__hidden {
    visibility: hidden;
  }

  &__header {
    font-size: 1rem;
    font-weight: 500;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
  }
}
