@import "@/styles/theme";

.tag-rank-item {
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;

  &:first-child {
    margin-top: 0.5rem;
  }

  &__rank {
    float: left;
    width: 15px;
    margin-right: 8px;
    color: $weview-blue;
    text-align: center;
  }

  &__name {
    display: inline-block;
    width: 20rem;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
  }

  &__icon {
    &--equal,
    &--up,
    &--down,
    &--new {
      display: inline-block;
      float: right;
      margin-right: 1rem;
      background-position: 0 0;
    }

    &--new {
      position: relative;
      right: -0.3rem;
      font-size: 1rem;
      color: $error;
    }

    &--equal {
      color: $placeholder-color-dark;
    }

    &--up {
      color: $weview-blue;
    }

    &--down {
      color: $error;
    }
  }
}

.tag-rank-item:hover .tag-rank-item__name {
  color: $weview-blue;
  text-decoration: underline;
  text-decoration-color: $weview-blue;
}
