@import "@/constants/_library.scss";


.title{
  display: flex;
  flex-direction: column;
  width: 80%;
  &__label{
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }
  &__input{
    width: 70%;
    height: 1.75rem;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid $line-color;
    border-radius: 0.25rem;
    background: none;
    margin-bottom: 1rem;
  }
}