@import 'src/constants/_library.scss';

.content-textarea{
  margin-top: 0.25rem;
  width: 80%;
  height: 30%;
  border: 1px solid $line-color;
  border-radius: 0.25rem;
  padding: 0.5em;
  font-size: 1rem;
  word-spacing: -4px;
  resize: none;
}

.content-label{
  font-size: 0.8rem;
}