@import "@/styles/_animation";
@import "@/styles/_theme";
@import "@/styles/_mixin";
@import "@/styles/_responsive";

@mixin label-provider() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

@mixin nav-content-subtitle() {
  & .title {
    width: 100%;
    height: fit-content;
    font-size: $font-large;
    border-bottom: $border-small $line-color;
  }
}

@include device {
  .search-content {
    @include content-fade-in;
    @include flex-start;
    @include nav-content-subtitle;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    color: $placeholder-color-dark;

    & .content-title {
      width: 100%;
      font-size: $font-xxx-large;
    }

    /*
     * SearchContentHeader
     */
    &__input {
      box-sizing: border-box;
      width: 100%;
      height: calc($font-medium * 3);
      padding-left: 1rem;
      font-size: $font-medium;
      line-height: calc($font-medium * 3);
      background-color: $weview-off-white;
      border: $border-small $placeholder-color-dark;
      border-radius: $radius-small;
      transition: 100ms;

      &::placeholder {
        font-size: $font-medium;
        color: $placeholder-color;
      }

      &:focus {
        background-color: $weview-white;
        border: $border-small $primary;
      }
    }

    &__labels {
      @include label-provider;
      flex-shrink: 0;
    }

    /*
     * Content Body
     */
    &__body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 2rem;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      overflow: hidden;

      & * {
        @include nav-content-fade-in;
      }

      &__labels {
        @include label-provider;
      }
    }
  }
}
