@import '@/styles/_global-styles.scss';
@import "../SearchModal/SearchForm/SearchForm.scss";

.modal-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: $modal-background-z-index !important;
}