$text-color: #222;
$line-color: #d7d7d7;
$placeholder-color: #bbb;
$codeblock-color: #292c33;
$weview-white: #fff;
$weview-off-white: #fcfcfc;
$code-color: #c9d1d9;
$primary: #84cb8d;
$primary-light: #bed6c1;
$alert: #eb923f;
$error: #f45452;
$light-gray: #f5f7f9;
$box-shadow: 0 4px 10px rgba(51, 51, 51, 0.1), 0 0 4px rgba(51, 51, 51, 0.05);
$button-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
