@import "@/styles/theme";

.content-textarea {
  width: 80%;
  height: 30%;
  padding: 0.5em;
  margin-top: 0.25rem;
  font-size: 1rem;
  resize: none;
  border: 1px solid $line-color;
  border-radius: 0.25rem;
  word-spacing: -4px;
}

.content-label {
  font-size: 0.8rem;
}
