@import "@/styles/theme";

.content-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 8rem;
  padding: 0.5em;
  font-family: GMarketSans;
  font-size: $font-form;
  line-height: 1.1;
  resize: none;
  border: $border-small $line-color;
  border-radius: $radius-small;
}

.content-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: $font-form;
}
