@import "@/styles/theme";

.content-textarea {
  width: 80%;
  height: 30%;
  padding: 0.5em;
  margin-top: 0.25rem;
  font-size: $font-form;
  resize: none;
  border: $border-small $line-color;
  border-radius: $radius-small;
  word-spacing: -4px;
}

.content-label {
  font-size: $font-form;
}
