@import "@/components/CommonButtons/CommonButtons.scss";

.follow-button {
  @include green-button;
  width: fit-content;
  height: 1.4rem;

  font-size: 0.8rem;

  &--is-following {
    @include weview-button;
    width: fit-content;
    height: 1.5rem;

    font-size: 0.75rem;

    color: $line-color !important;
    border: 1px solid $line-color;

    &:hover {
      color: $weview-off-white !important;
      background-color: $line-color;
    }
  }
}
