@import "../../../../styles/theme";

.close-btn {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 4em;
  height: 4em;
  cursor: pointer;
  border-spacing: 0;
  background: none;
  border: none;

  &__icon {
    width: 2em !important;
    height: 2em !important;
    color: $error;
  }
}
