@import "constants/_library.scss";

.snapshot{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4rem;
  width: 25%;
  height: 100%;
  box-shadow: $box-shadow;
  border-radius: 1em;
  overflow-y: auto;
  &__item{
    margin: 1em 0;
    &--img{
      width: 15em;
      height: 15em;
      border-radius: 1em;
      cursor: pointer;
    }
  }
}


::-webkit-scrollbar {
  width: 0.65em;
  &-thumb{
    background-color: $text-color;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  &-track{
    background-color: $line-color;
    border-radius: 10px;
    box-shadow: inset 0 0 5px white;
  }
}
