@import "@/styles/_theme.scss";

.tag-label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: $font-form;
}

.tag-input {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding-left: 0.5rem;
  font-family: GmarketSans;
  font-size: $font-form;
  border: 1px solid $line-color;
  border-radius: $radius-small;
}

.tag-list {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  & > span {
    margin-right: 0.5rem;
    font-weight: bold;
  }
}
