@import "@/styles/_theme.scss";

.tag-label {
  margin-top: 1rem;
  font-size: $font-form;
}

.tag-input {
  width: 56%;
  height: 2.5rem;
  padding-left: 0.5rem;
  font-size: $font-form;
  border: 1px solid $line-color;
  border-radius: $radius-small;
}

.tag-list {
  display: flex;

  & > span {
    margin-right: 0.2rem;
    font-size: $font-medium;
    font-weight: bold;
  }
}
