@import "../SubmitModal/TitleInput/TitleInput";
@import "CodeEditor/CodeEditor";
@import "PrettifyButton/PrettifyButton";
@import "SubmitButton/SubmitButton";
@import "LanguageSelector/LanguageSelector";
@import "src/styles/_global-styles.scss";

.writing-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $editing-form-width;
  padding: 2em;
  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (max-width: 720px) {
    width: calc(100% - 4rem);
    height: 100%;
  }
}
