$highest-z-index: 90000; // 가장 높은 z-index 값으로 설정

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $highest-z-index;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); // 모달 배경 색
}
