@import "@/styles/theme";

.snapshot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: auto !important;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid $line-color;
  border-radius: 0.25rem;
  box-shadow: $shadow-box;

  &__item {
    width: 40rem;
    height: 40rem;
    margin: 1em 0;

    &--img {
      width: 40rem;
      height: 40rem;
      cursor: pointer;
      border-radius: $radius-medium;
      object-fit: cover;
    }
  }
  @media screen and (max-width: 720px) {
    flex-direction: row;
    width: 100%;
    height: 10rem;
    overflow-x: auto;
    overflow-y: hidden;

    &__item {
      width: 10rem;
      height: 100%;
      margin: 0 1em;

      &--img {
        width: 10rem;
        height: 100%;
      }
    }
  }
}
