@import "@/styles/theme";
@import "@/styles/global-style";

$author-color: #c08834;
$reviews-color: #4dd2ba;
$likes-color: #ef69da;
$modal-border-radius: 10px;

.search-form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
  // 정렬
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  min-height: 2.7rem;
  padding: 0.5rem;

  background-color: $weview-off-white;
  border: 1px solid $text-color;
  border-radius: $modal-border-radius;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &__input {
    box-sizing: border-box;
    flex-grow: 1;
    height: 0.8rem;
    padding-left: 0.4rem;
    overflow-x: hidden;
    font-size: 0.8rem;

    // text
    color: $text-color;
    background: none;
    border: none;

    &::placeholder {
      font-family: GmarketSans;
      font-size: 0.8rem;
      color: $placeholder-color;
    }
  }
}
