@import "@/styles/_animation";
@import "@/styles/_mixin";

/*
 * Content Body
 */
.search-content__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & * {
    @include nav-content-fade-in;
  }

  &__labels {
    @include label-provider;
    width: 100%;
  }
}
