@import "@/styles/_global-styles.scss";
@import "./ReviewContainer/ReviewScroll/ReviewScroll.scss";

.review-modal {
  display: flex;
  gap: $device-review-modal-gap;
  width: 100%;
  height: 100%;

  &__review-container {
    width: 100%;
    max-width: $device-review-max-width;
  }
}
