@import "@/styles/_global-styles.scss";
@import "ReviewScroll/ReviewForm/ReviewForm.scss";
@import "./ReviewScroll/ReviewScroll.scss";

.review-modal {
  display: flex;
  gap: $device-review-modal-gap;

  width: 100%;
  height: 100%;

  &__review-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: $device-review-max-width;
    height: 100%;
  }
}
