@import 'src/constants/_library.scss';
@import './NotLoggedInProfile/NotLoggedInProfile.scss';
@import './UserProfile/UserProfile.scss';

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
  border-top: 1px solid $line-color;
}