@import "src/constants/_library.scss";
@import "CloseButton/CloseButton.scss";
@import "SnapShotNav/SnapShotNav.scss";
@import "SubmitModal/SubmitModal.scss";
@import "WritingForm/WritingForm.scss";


.modal{
  &__wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  margin : 0 auto;
  width: 60%;
  max-width: 1080px;
  min-width: 720px;
  height: calc(100% - 0.5rem);
  box-shadow: $button-shadow;
  transition: all 600ms cubic-bezier(0.86, 0, 0.3, 1);
  border-radius: 1rem;
  border: 0.25rem solid $line-color;
  z-index: 1;
  @media screen and (max-width: 720px) {
    width: 90%;
    flex-direction: column;
    overflow-y: scroll;
    min-width: auto;
  }
}



.open{
  top: 0;
}

.close{
  top: 100%;
}

