@import "@/styles/_theme";

@mixin hover-label($color) {
  &__value {
    margin-right: 0.25rem;
  }

  &__icon {
    width: $font-large;
    height: $font-large;
  }

  &:hover {
    color: $weview-white;
    cursor: pointer;
    background-color: $color;
    animation: hover-label-animation;
  }
  @keyframes hover-label-animation {
    from {
    }

    to {
      color: $weview-white;
      background-color: $color;
    }
  }
}

@mixin common-search-label {
  box-sizing: border-box;
  display: flex;
  flex: none;
  gap: 0.25rem;

  align-items: center;
  width: fit-content;
  height: fit-content;

  padding: 0.25rem;
  font-size: $font-small;
  color: $text-color;
  vertical-align: middle;

  border-radius: $radius-medium;
  transition: 350ms;

  &:hover {
    cursor: pointer;
  }
}

.search-label {
  &__tags {
    @include common-search-label;
    @include hover-label($primary);
    border: $border-x-small $primary;

    &__icon {
      content: url("@/assets/images/labels/label-tag.svg");
    }
  }

  &__likes {
    @include common-search-label;
    @include hover-label($likes-color);
    border: $border-x-small $likes-color;

    &__icon {
      content: url("@/assets/images/labels/label-like.svg");
    }
  }

  &__reviews {
    @include common-search-label;
    @include hover-label($reviews-color);
    border: $border-x-small $reviews-color;

    &__icon {
      content: url("@/assets/images/labels/label-comment.svg");
    }
  }

  &__details {
    @include common-search-label;
    @include hover-label($detail-color);
    border: $border-x-small $detail-color;

    &__icon {
      content: url("@/assets/images/labels/label-detail.svg");
    }
  }
}
