@import "@/styles/_theme";
@mixin hover-label($color) {
  &:hover {
    color: $weview-white;
    cursor: pointer;
    background-color: $color;
    animation: hover-label-animation;
  }
  @keyframes hover-label-animation {
    from {
    }

    to {
      color: $weview-white;
      background-color: $color;
    }
  }
}

.search-label {
  box-sizing: border-box;
  display: table-cell;
  flex: none;
  width: fit-content;
  height: fit-content;

  padding: 0.5rem;
  font-size: 0.75rem;
  color: $text-color;
  vertical-align: middle;

  border-radius: $radius-small;
  transition: 350ms;

  &:hover {
    cursor: pointer;
  }

  &.tag {
    @include hover-label($primary);
    border: $border-x-small $primary;
  }

  &.category {
    @include hover-label($alert);
    border: $border-x-small $alert;
  }

  &.author {
    @include hover-label($author-color);
    border: $border-x-small $author-color;
  }

  &.likes {
    @include hover-label($likes-color);
    border: $border-x-small $likes-color;
  }

  &.reviews {
    @include hover-label($reviews-color);
    border: $border-x-small $reviews_color;
  }

  &.detail {
    @include hover-label($line-color);
    border: $border-x-small $line-color;
  }
}
