@import "@/styles/theme";

.tag-rank-item {
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  &__rank {
    float: left;
    width: 15px;
    margin-right: 8px;
    color: $weview-blue;
    text-align: center;
  }

  &__name {
    display: inline-block;
    width: 21rem;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
  }

  &__icon {
    display: inline-block;
    float: right;
    margin-left: 5rem;
    background-position: 0 0;

    &--equal {
      color: $placeholder-color-dark;
    }

    &--up {
      color: $weview-blue;
    }

    &--down {
      color: $error;
    }
  }
}

.tag-rank-item:hover .tag-rank-item__name {
  color: $weview-blue;
  text-decoration: underline;
  text-decoration-color: $weview-blue;
}

.highlight-tag {
  .tag-rank-item {
    &__rank {
      font-weight: bold;
    }

    &__name {
      font-weight: bold;
    }
  }
}
