@import "@/components/CommonButtons/CommonButtons.scss";

.follow-button {
  @include green-button;

  font-size: 0.8rem;
  height: 1.4rem;
  width: fit-content;

  &--is-following {
    @include weview-button;

    font-size: 0.8rem;
    height: 1.4rem;
    width: fit-content;

    color: $line-color !important;
    border: 1px solid $line-color;
    &:hover {
      background-color: $line-color;
      color: $weview-off-white !important;
    }
  }
}