@import 'src/constants/_library.scss';
@import 'src/styles/commons/_global-styles.scss';

$author-color: #C08834;
$reviews-color: #4DD2BA;
$likes-color: #EF69DA;
$modal-border-radius: 10px;

@mixin label($border-color) {
  display: table-cell;
  flex: none;
  border-radius: 0.9rem;
  box-sizing: border-box;
  font-size: 0.75rem;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 0.75rem;
  vertical-align: middle;
  color: $text-color;
  background-color: $weview-off-white;

  border: 2px solid $border-color;

  &:hover {
    cursor: pointer;
  }
}

.search-form {
  display: flex;
  gap: 1rem;
  row-gap: 0.5rem;
  // 검색 폼 레이아웃
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  border: 1px solid $text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: $modal-border-radius;

  background-color: $weview-off-white;
  padding: 0.5rem;
  // 정렬
  justify-content: flex-start;
  align-items: center;

  &__label {
    @include label(black);
    &--tag {
      @include label($primary);
    }
    &--category {
      @include label($alert);
    }
    &--author {
      @include label($author-color);
    }
    &--likes {
      @include label($likes-color);
    }
    &--reviews {
      @include label($reviews-color);
    }
    &--detail {
      @include label($line-color);
    }
  }

  &__input {
    flex-grow: 1;
    height: 0.8rem;
    border: none;
    overflow-x: hidden;
    box-sizing: border-box;
    background: none;

    // text
    color: $text-color;
    font-size: 0.8rem;
    padding-left: 0.4rem;

    &::placeholder{
      font-family: GmarketSans;
      color: $placeholder-color;
      font-size: 1.3rem;
    }
  }
}