@import "@/styles/theme";
@import "@/styles/global-style";
@import "@/styles/responsive";
@import "@/styles/mixin";

@include mobile {
  .nav {
  }

  .hidden-main {
  }
}

@include tablet {
}

@include device {
  .nav {
    position: relative;
    box-sizing: border-box;
    height: 100%;

    &__sidebar {
      position: relative;
      z-index: 2;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      padding: 2rem;
      background-color: $weview-white;
      border-right: $border-medium $line-color;
      transition: 300ms;

      /* nav 컨텐츠 섹션 비율 */
      & > section {
        width: 100%;
        height: 5rem; /* header, footer 고정 길이 */

        &:nth-child(1) {
          flex-grow: 0;
        }

        &:nth-child(2) {
          flex-grow: 1;
        }

        &:nth-child(3) {
          flex-grow: 0;
        }
      }
    }

    /* 반응형: 디바이스-opened */
    &.opened {
      .nav__sidebar {
        width: $main-nav-width;
      }

      .nav-menu__detail {
        min-width: 7rem;
        opacity: 1;
      }
    }

    /* 반응형: 디바이스-closed */
    &.closed {
      .nav__sidebar {
        width: 9.2rem; /* NavMenu width-height 가 5rem:5rem 이 되는 가로 길이 */
      }

      /* 헤더 로고를 아이콘 로고로 변경한다. */
      .nav__sidebar__header {
        &__logo {
          width: 50px;
          height: 50px;
          content: url("@/assets/images/weview-logo-icon.svg");
        }
      }

      /* 글자들을 모두 가린다. */
      .nav-menu__detail,
      .nav__sidebar__profile-menu__detail {
        opacity: 0;
      }
    }
  }
}
