@import "./TitleInput/TitleInput.scss";
@import "./CodeEditor/CodeEditor.scss";
@import "./PrettifyButton/PrettifyButton.scss";
@import "./SubmitButton/SubmitButton.scss";

.writing-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em;
  &__buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
  }
}
