@import 'src/constants/_library.scss';

@mixin weview-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 2.3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  background: $weview-off-white;
  border-radius: 0.9em;
}

@mixin green-button {
  @include weview-button;
  color: $primary;
  border: 1px solid $primary;
  &:hover{
    background-color: $primary;
    color: $weview-off-white;
  }
}

@mixin red-button {
  @include weview-button;
  color: $error;
  border: 1px solid $error;
  &:hover {
    background-color: $error;
    color: $weview-off-white;
  }
}

@mixin nav-button{
  cursor: pointer;
  width: 5rem;
  font-size: 0.8rem;
  height: 1.8rem;
  margin-top: 1rem;
  background: none;
  border-radius: 0.2rem;
  background: none;
  border: 1px solid $line-color;
  &:focus{
    color: $line-color;
  }
}