@import "src/constants/_library.scss";

.review {
  position: relative;
  display: flex;
  width: 20rem;
  height: auto;
  margin-bottom: 1rem;
  list-style: none;
  &:after {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    width: 2rem;
    height: 1px;
    background-color: $line-color;
    content: "";
  }
  &__reviewer-image {
    position: relative;
    flex-basis: 1.5rem;
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    &--item {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 9999px;
    }
  }
  &__balloon {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-left: 0.3rem;
    &__top {
      display: flex;
      justify-content: space-between;
      padding-top: 0.2rem;
      &--nickname,
      &--time {
        font-size: 0.75rem;
      }
      &--nickname {
        font-weight: bold;
      }
    }
  }
}
