@import "@/styles/global-style";
@import "@/styles/mixin";
@import "@/styles/theme";

.post-item-box {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: $post-gap;
  align-items: center;
  width: $main-post-bar-width;
  height: 100%;
  overflow-y: scroll;
  background-color: #fcfcfc;

  &::-webkit-scrollbar {
    display: none;
  }
}
