@import "@/styles/_theme";
@import "@/styles/_global-style";

$spinner-height: $main-post-height * 0.2; // 9:1비율
$target-height: calc($spinner-height / 9);

.scroll-loader {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  border-radius: 0.35rem;

  &__spinner {
    height: $main-post-height * 0.2;
  }

  &__target {
    width: 100%;
    height: $target-height;
  }
}
