@import "@/styles/_theme.scss";

.title {
  display: flex;
  flex-direction: column;
  width: 80%;

  &__label {
    margin-bottom: 0.4rem;
    font-size: $font-form;
  }

  &__input {
    width: 70%;
    height: 2.5rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: $font-form;
    font-weight: bold;
    background: none;
    border: $border-small $line-color;
    border-radius: $radius-small;
  }
}
