@import "../../../../constants/library";
@import "../../../../styles/global-styles";

$author-color: #c08834;
$reviews-color: #4dd2ba;
$likes-color: #ef69da;
$modal-border-radius: 10px;

@mixin label($border-color) {
  box-sizing: border-box;
  display: table-cell;
  flex: none;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  color: $text-color;
  vertical-align: middle;
  background-color: $weview-off-white;

  border: 2px solid $border-color;
  border-radius: 0.9rem;

  &:hover {
    cursor: pointer;
  }
}

.search-form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
  // 정렬
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  min-height: 2.7rem;
  padding: 0.5rem;

  background-color: $weview-off-white;
  border: 1px solid $text-color;
  border-radius: $modal-border-radius;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &__label {
    @include label(black);

    &--tag {
      @include label($primary);
    }

    &--category {
      @include label($alert);
    }

    &--author {
      @include label($author-color);
    }

    &--likes {
      @include label($likes-color);
    }

    &--reviews {
      @include label($reviews-color);
    }

    &--detail {
      @include label($line-color);
    }
  }

  &__input {
    box-sizing: border-box;
    flex-grow: 1;
    height: 0.8rem;
    padding-left: 0.4rem;
    overflow-x: hidden;
    font-size: 0.8rem;

    // text
    color: $text-color;
    background: none;
    border: none;

    &::placeholder {
      font-family: GmarketSans;
      font-size: 0.8rem;
      color: $placeholder-color;
    }
  }
}
