@import "@/styles/_global-style";

.no-post {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: flex-start;
  width: 40rem;
  height: 100%;

  margin-inline: $post-bar-margin-side;
  margin-top: 5rem;
  font-size: 2rem;
  background-color: #fcfcfc;

  &__logo {
    content: url("@/assets/images/weview-logo-name.svg");

    &:hover {
      cursor: pointer;
    }
  }

  &__heading {
    margin-bottom: 0;
    font-weight: normal;
  }

  &__recommend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    &--heading {
      margin-bottom: 1.5rem;
      font-weight: normal;
    }

    &--label {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
