@import "@/styles/theme";

.post__title {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  padding-inline: 1.2rem;
  overflow: hidden;

  // 아래 구분선
  border-bottom: 1px solid $line-color;
}
