@import "@/constants/_library.scss";
@import "@/components/CommonButtons/CommonButtons.scss";

// 크기 관련
$review-form-header-height: 1.5rem;
$review-form-content-min-height: 5rem;
$review-form-footer-height: 1.5rem;
$review-form-padding: 0.5rem;
$review-form-min-height: $review-form-header-height +
  $review-form-content-min-height + $review-form-footer-height + 4 *
  $review-form-padding;
$review-form-max-height: $review-form-min-height +
  $review-form-content-min-height;

// 버튼
$review-form-button-width: 3.5rem;

$review-form-header-gap: 0.25rem;
$review-form-radius: 0.35rem;
$review-form-font-size: 0.75rem;

@mixin review-form-common-style {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: $review-form-padding;

  box-sizing: border-box;

  width: 100%;
  height: fit-content;
  min-height: $review-form-min-height;
  max-height: $review-form-max-height;
  padding: $review-form-padding;
  font-size: $review-form-font-size;

  background-color: $weview-off-white;
  border: 2px solid $line-color;
  border-radius: $review-form-radius;
}

.review-form {
  @include review-form-common-style;

  &__header {
    display: flex;
    gap: $review-form-header-gap;
    align-items: center;

    width: 100%;
    height: $review-form-header-height;

    &--profile-image {
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  &__content {
    box-sizing: border-box;
    width: 100%;
    min-height: $review-form-content-min-height;
    max-height: 2 * $review-form-content-min-height;
    margin: 0;
    padding: $review-form-padding;

    // textarea 텍스트 스타일
    font-size: $review-form-font-size;
    font-family: GmarketSans;

    background-color: $light-gray;
    border: 2px solid $line-color;
    border-radius: $review-form-radius;
    resize: vertical; // 세로로만 크기 변경 (최대 2배)

    &:focus {
      // 텍스트 입력 중일때 스타일 처리
      background-color: $weview-off-white;
      border: 2px solid $primary;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;

    width: 100%;
    height: $review-form-footer-height;

    &--submit-button {
      @include green-button--bold(
        $review-form-button-width,
        $review-form-footer-height
      );
      font-size: $review-form-font-size;
    }
  }
}

.not-logged-in-review-form {
  @include review-form-common-style;
  align-items: center;

  // 콘텐츠 중앙 정렬
  justify-content: center;

  &--login-button {
    @include weview-button--bold(
      $review-form-button-width,
      $review-form-footer-height
    );
    font-size: $review-form-font-size;
  }
}
