@import "@/styles/theme";
@import "@/styles/global-style";
@import "@/styles/mixin";

$line-width: 4rem;
$github-dark-font-color: #c9d1d9;

.code {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: $device-editor-width;
  min-width: $device-editor-width; // review modal 에서 가로 정렬 기준 flex-shrink: 0 역할
  height: 100%;
  border-radius: $radius-small;

  &__textarea,
  &__present {
    left: $line-width;
    width: calc(100% - $line-width);
    color: $weview-white;
  }

  &__textarea,
  &__present,
  &__lines {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    padding: 0.5rem;
    margin: 0;
    font-size: $font-medium;
    white-space: pre-wrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__textarea {
    z-index: 1;
    overflow-y: scroll;
    color: transparent;
    resize: none;
    background-color: transparent;
    border: none;
    caret-color: $alert;
  }

  &__present {
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: $github-dark-font-color;
    background-color: $codeblock-color;
  }

  &__lines {
    @include line-count;
  }
}
