@import "@/styles/theme";

.post__image-slider {
  display: flex;
  flex-shrink: 0;
  height: 100%;

  &--relative {
    position: relative;
  }

  &__wrapper {
    width: 51rem;
    min-width: 51rem;
    height: 51rem;
    overflow: hidden;
    background-color: black;
  }

  &--image {
    width: auto;
    min-width: 51rem;
    height: auto;
    cursor: pointer;
    object-fit: cover; // 가로-세로 비율 맞춰서 꽉 차게
  }

  &--button {
    position: absolute;
    top: 50%;
    width: 100%;
  }

  &__dots {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    pointer-events: none;

    &--other,
    &--now {
      width: 0.8rem;
      height: 0.8rem;
      margin: 0.8rem 0.2rem;
      border-radius: $radius-circle;
      transition: all 0.2s ease-in-out;
    }

    &--other {
      background-color: $weview-off-white;
      opacity: 0.5;
    }

    &--now {
      background-color: $weview-off-white;
    }
  }
}
