.post__image-slider {
  flex-shrink: 0;
  width: 100%;
  height: 51rem;
  overflow: hidden;
  background-color: black;

  &--image {
    width: inherit;
    height: inherit;
    cursor: pointer;
    object-fit: cover; // 가로-세로 비율 맞춰서 꽉 차게
  }
}
