@import "@/constants/_library.scss";
@import "@/styles/_global-styles.scss";

$post-inline-padding: 0.75rem;

.post {

  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  // 반응형 레이아웃
  display: grid;
  grid-template-rows: 12fr 100fr 28fr 15fr; // 가로:세로 = 1:1.54 비율 기준
  width: 100%;
  height: $main-post-height;

  background-color: $weview-off-white;
  border: 1px solid $line-color;

  border-radius: 0.35rem;

  // 그림자
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &__title {

    box-sizing: border-box;
    display: flex;
    grid-row: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-inline: 0.75rem 0.75rem;
    overflow: hidden;

    // 아래 구분선
    border-bottom: 1px solid $line-color;

    &__author-profile {
      display: flex;
      gap: 0.35rem;
      align-items: center;

      width: fit-content;
      height: 100%;

      &--image {
        height: 80%;
        border-radius: 50%;
        object-fit: contain;
      }

      &--username {
        font-size: 0.75rem;
      }
    }

    &--code-info {
      font-size: 0.65rem;
    }
  }

  &__image-slider {
    grid-row: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;

    &--image {
      width: inherit;
      height: inherit;
      object-fit: cover; // 가로-세로 비율 맞춰서 꽉 차게
    }
  }

  &__body {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-row: 3;
    gap: 0.35rem;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: $post-inline-padding;
    overflow: hidden;
    background-color: white;

    // 아래 구분선
    border-bottom: 1px solid $line-color;

    &__title {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &--title {
        flex-grow: 1;
        font-size: 1rem;
      }

      &--time-stamp {
        width: fit-content;
        font-size: 0.75rem;
        text-align: left;
        white-space: nowrap;
      }
    }

    &--content {
      font-size: 0.75rem;
    }
  }

  &__footer {

    box-sizing: border-box;
    display: flex;
    grid-row: 4;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-inline: $post-inline-padding $post-inline-padding;
    overflow: hidden;

    &__left-block {
      display: flex;
      gap: 0.25rem;

      &--btn {
        height: 100%;
        aspect-ratio: 1/1;
      }
    }

    &__right-block {
      display: flex;
      flex-direction: row-reverse;
      gap: 0.25rem;

      &--btn {
        height: 100%;
        aspect-ratio: 1/1;
      }
    }
  }
}
