@import "@/styles/responsive";
@import "@/styles/mixin";
@import "@/styles/theme";

@include device() {
  .nav__sidebar__menus {
    @include flex-start;
    position: relative;
    flex-direction: column;
    padding-top: 3rem;

    border-top: $border-small $line-color;
    border-bottom: $border-small $line-color;

    &__menu {
      width: 100%;
      height: 5rem;
      padding: 1rem 0;

      &:hover {
        cursor: pointer;

        & ~ .nav__sidebar__menus__active {
          display: block;
        }
      }

      &:nth-child(1) {
        &:hover ~ .nav__sidebar__menus__active {
          top: 3rem;
        }
      }

      &:nth-child(2) {
        &:hover ~ .nav__sidebar__menus__active {
          top: 8rem;
        }
      }

      &:nth-child(3) {
        &:hover ~ .nav__sidebar__menus__active {
          top: 13rem;
        }
      }

      &:nth-child(4) {
        &:hover ~ .nav__sidebar__menus__active {
          top: 18rem;
        }
      }
    }

    &__active {
      position: absolute;
      top: 0;
      left: -1rem;
      display: none;
      width: 0.5rem;
      height: 5rem;
      background-color: $primary-light;
      border-radius: $radius-small;
      transition: top 300ms;
    }
  }
}
