@import "@/styles/_theme";
@import "@/styles/_global-style.scss";
@import "@/styles/_responsive";

// components
//
//
//
//

@mixin main-responsive($width, $gap) {
  gap: $gap;
  width: $width;
}

@mixin main-common {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  color: $text-color;
}

@include mobile {
  .main {
  }

  .hidden-main {
  }
}

@include tablet {
  .main {
  }

  .hidden-main {
  }
}

@include device {
  .main {
    @include main-common;
    @include main-responsive($desktop-main-width, $main-gap);
  }

  .hidden-main {
    @include main-common;
    @include main-responsive($desktop-main-width, $main-gap);
  }
}
