@import 'src/constants/_library.scss';
@import "src/styles/commons/global-styles.scss";
@import "src/styles/commons/_responsive.scss";

@mixin main-responsive($width, $gap) {
  width: $width;
  gap: $gap;
}

@mixin main-common {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  color: $text-color;
}

@mixin main-fade-in {
  transition: 1s all ease;
  transform: translateY(0);
  opacity: 1;
}

@mixin main-fade-out {
  transform: translateY(-100%);
  opacity: 0;
  transition: 1s all ease;
}

@include mobile {
  .main {
  }
  .hidden-main {
  }
}

@include tablet {
  .main {
  }
  .hidden-main {
  }
}

@include device {
  .main {
    @include main-common;
    @include main-responsive($desktop-main-width, $main-gap);
  }
  .hidden-main {
    @include main-common;
    @include main-responsive($desktop-main-width, $main-gap);
  }
}
