@import "@/styles/theme";
@import "@/styles/responsive";
@import "@/styles/global-style";
@import "@/styles/animation";

.modal-container {
  z-index: $modal-content-z-index !important;
  box-sizing: border-box;
  display: flex;
  width: fit-content;
  max-width: $desktop-main-width;
  height: 80%;
  // 모달 내용들은 공통으로 2rem 패딩 내에 존재
  padding: 2rem;
  margin: 0 auto;
  background-color: $weview-off-white;
  border: 0.25rem solid $line-color;
  border-radius: 1rem;
  box-shadow: $shadow-box;

  &.open {
    @include fade-in-modal(600ms);
  }

  &.close {
    z-index: -1;
    visibility: hidden;
  }
}
