@import "@/styles/_global-style.scss";

$speed: cubic-bezier(0.86, 0, 0.3, 1);

// SvgIconButton
@mixin fade-in-icon($default-size, $icon-hover-size) {
  font-size: $icon-hover-size !important;
  animation: fade-in-icon;
  @keyframes fade-in-icon {
    from {
      font-size: $default-size;
    }

    to {
      font-size: $icon-hover-size;
    }
  }
}
@mixin fade-out-icon() {
  opacity: 0;
  animation: fade-out-text;
  @keyframes fade-out-text {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
// Loading Spinner
@mixin spin-infinite() {
  animation: spin 1s linear infinite;
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
// Modal Container
@mixin fade-in-modal($animation-time) {
  visibility: visible;
  animation: modal-fade-in $animation-time $speed;
  @keyframes modal-fade-in {
    from {
      top: 100%;
    }

    to {
      top: 0;
    }
  }
}

@mixin content-fade-in() {
  opacity: 1;
  animation: fade-in-default 550ms $speed;
  @keyframes fade-in-default {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin nav-content-fade-in() {
  animation: half-fade-in 300ms ease-out;
  @keyframes half-fade-in {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
}
/* 인기 태그 순위 stagger */
@keyframes stagger {
  0% {
    opacity: 0;
    transform: rotatex(0deg);
  }
  
  100%{
    opacity: 1;
    transform: rotatex(360deg);
  }
}
/* 인기 태그 순위 스켈레톤 */
@mixin skeleton-load($width){
  animation: skeleton-loading 2s infinite;
  @keyframes skeleton-loading {
    0% {
      transform: translateX(0);
    }

    50%,
    100% {
      transform: translateX($width);
    }
  }
}
@mixin skeleton-opacity($skeleton-color, $skeleton-color-highlight, $animation-time) {
  background-color: $skeleton-color;
  animation: skeleton-gradient $animation-time infinite ease-in-out;
  @keyframes skeleton-gradient {
    0% {
      background-color: $skeleton-color;
    }

    50% {
      background-color: $skeleton-color-highlight;
    }

    100% {
      background-color: $skeleton-color;
    }
  }
}
