/**
 * global styles
 */
$root-em: 62.5%; // 1rem = 6.3px

/**
 * responsive size
 */
$device-min-width: 864px; // 54rem
$tablet-min-width: 576px; // 36rem
$mobile-min-width: 480px; // 30rem

/**
 * gap, margin, padding
 */
$main-gap: 3.2rem; // nav 와 post-bar 사이 gap
$post-bar-margin-side: 1em; // post-bar 양 옆 마진 (테두리 여백)
$post-gap: 3.2rem; // post 와 post 사이 gap
$device-review-modal-gap: 1.6rem; // 에디터-리뷰 사이 갭

/**
 * page Main
 */
$full-desktop-main-padding: 32rem;
$main-nav-width: 32rem;
$main-post-bar-width: 51.2rem;
$main-post-height: $main-post-bar-width * 1.54;
$desktop-main-width: $main-nav-width + $main-post-bar-width + $main-gap +
  $full-desktop-main-padding;

/**
 * z-index
 */

$default-z-index: 0;
$modal-background-z-index: 1;
$modal-content-z-index: 2;
$modal-upper-z-index: 3;

/**
 * editor
 */

$editing-form-width: 72rem;
$device-editor-width: 64rem; // device 최대 너비가 69.5rem - 6:4정도 유지를 위해 40rem 선정

/**
 * review
 */

$device-review-max-width: $desktop-main-width - $device-editor-width -
  $device-review-modal-gap;
