@import "@/styles/global-style";
@import "@/styles/theme";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin line-count {
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  width: $line-width;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
  font-family: "monospace", monospace;
  color: $weview-white;
  text-align: end;
  background-color: $codeblock-color;
  border-right: 1px solid $line-color;
}

@mixin flex-middle-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin tag-rank-item-mixin {
  position: relative;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;

  &:first-child {
    margin-top: 0.5rem;
  }

  &__rank {
    float: left;
    width: 15px;
    margin-right: 1.5rem;
    color: $weview-blue;
    text-align: center;
  }
}

@mixin label-provider() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

@mixin nav-content-subtitle() {
  & .title {
    width: 100%;
    height: fit-content;
    font-size: $font-large;
    border-bottom: $border-small $line-color;
  }
}
@mixin hover-label($color) {
  &__value {
    margin-right: 0.25rem;
  }

  &__icon {
    width: $font-large;
    height: $font-large;
  }

  &:hover {
    color: $weview-white;
    cursor: pointer;
    background-color: $color;
    animation: hover-label-animation;
  }
  @keyframes hover-label-animation {
    from {
    }

    to {
      color: $weview-white;
      background-color: $color;
    }
  }
}

@mixin common-search-label {
  box-sizing: border-box;
  display: flex;
  flex: none;
  gap: 0.25rem;

  align-items: center;
  width: fit-content;
  height: fit-content;

  padding: 0.25rem;
  font-size: $font-small;
  color: $text-color;
  vertical-align: middle;

  border-radius: $radius-medium;
  transition: 350ms;

  &:hover {
    cursor: pointer;
  }
}