@import "@/styles/global-style";
@import "@/styles/theme";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin line-count {
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  width: $line-width;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
  font-family: "monospace", monospace;
  color: $weview-white;
  text-align: end;
  background-color: $codeblock-color;
  border-right: 1px solid $line-color;
}

@mixin flex-middle-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}