@import "@/styles/_theme";
@import "@/styles/_global-style";
@import "@/styles/_mixin";

.post-skeleton {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: $main-post-bar-width;
  height: fit-content;
  background-color: $weview-white;
  border: 1px solid $line-color;
  border-radius: $radius-medium;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &__title {
    @include post-title;

    &__author-profile {
      display: flex;
      gap: 0.35rem;
      align-items: center;
      width: fit-content;

      & * {
        background-color: $line-color;
      }

      &__image {
        width: 4.72rem;
        height: 4.72rem;
        border-radius: $radius-circle;
      }

      &__username {
        width: 10rem;
        height: $font-medium;
      }
    }

    &__code-info {
      width: 8rem;
      height: $font-medium;
      background-color: $line-color;
    }
  }

  &__image-slider {
    width: 100%;
    height: $main-post-bar-width;
    background-image: url("@/assets/progressive-image.jpg");
    background-size: cover;
  }

  &__body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 16.6rem;
    padding: $font-medium;

    & * {
      background-color: $line-color;
    }

    &--title {
      width: 12rem;
      height: $font-large;
    }

    &--content {
      width: 100%;
      height: 10rem;
    }
  }

  &__footer {
    width: 100%;
    height: 7.5rem;
    background-color: $light-gray;
  }
}
